<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="CSS/estilo.css">
  <title>Kubernetes</title>
</head>
<body>
  <h1>Hello Kubernetes!!!</h1>
  <p>Atualizando...</p>
  <h2>Atualizando novamente</h2>

  <h3> Criando nosso arquivo</h3>
  <p>●Agora vamos transformar nosso projeto em declarativo;</p>
  <p>●Para isso vamos criar um arquivo para realizar o Deployment;</p>
  <p>●Desta maneira vamos aprender a criar os arquivos declarativos e utilizar
as chaves e valores;</p>
<p>●
Mãos à obra!</p>
<h4>Executando arquivo de Deployment</h4>  
<p>●Vamos então executar nosso arquivo de Deployment!</p>
<p>●O comando é: kubectl apply -f <ARQUIVO></p>
<p>●Desta maneira o Deployment será criado conforme configurado no arquivo
.yaml;</p>

<marquee>Estudando Docker/Swarm/Kubernetes pela hora de codar</marquee>
</body>
<footer>
  desenvolvindo por André Luis Kunert_Técnico em Informática e Analista de TI e Sistemas,Futuro Desenvolvedor Full Stack
</footer>
</html>